{% extends 'base.html' %}

{% block heading %}Grade List{% endblock %}

{% block content %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Subject</th>
                    <th>Trimester</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in grades %}
                <tr>
                    <td>{{ grade.student }}</td>
                    <td>{{ grade.subject }}</td>
                    <td>{{ grade.get_trimester_display }}</td>
                    <td>{{ grade.grade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
{% endblock %}

