{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Student</h5>
                    <p class="card-text">Click the button below to add a new student.</p>
                    <a href="{% url 'register_student' %}" class="btn btn-primary">Add Student</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Students</h5>
                    <p class="card-text">Click the button below to view all students.</p>
                    <a href="{% url 'student_list' %}" class="btn btn-primary">View Students</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Subject</h5>
                    <p class="card-text">Click the button below to add a new subject.</p>
                    <a href="{% url 'register_subject' %}" class="btn btn-primary">Add Subject</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Subjects</h5>
                    <p class="card-text">Click the button below to view all subjects.</p>
                    <a href="{% url 'subject_list' %}" class="btn btn-primary">View Subjects</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Grade</h5>
                    <p class="card-text">Click the button below to add a new grade.</p>
                    <a href="{% url 'register_grade' %}" class="btn btn-primary">Add Grade</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Grades</h5>
                    <p class="card-text">Click the button below to view all grades.</p>
                    <a href="{% url 'grade_list' %}" class="btn btn-primary">View Grades</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <h5 class="card-title">Student Report</h5>
                    <p class="card-text">Click the button below to view the student report.</p>
                    <a href="{% url 'students_report' %}" class="btn btn-light">View Student Report</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

