{% extends 'base.html' %}

{% block heading %}Students Report{% endblock %}

{% block content %}
    {% for student_data in report_data %}
        <h2 style="font-size: 1.5em;">{{ student_data.student.first_name }}:</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Trimestre 1</th>
                    <th>Trimestre 2</th>
                    <th>Trimestre 3</th>
                    <th>Promedio General</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                {% for subject, data in student_data.subjects.items %}
                <tr>
                    <td>{{ subject.name }}</td>
                    <td>{{ data.trimester_1 }}</td>
                    <td>{{ data.trimester_2 }}</td>
                    <td>{{ data.trimester_3 }}</td>
                    <td>{{ data.average }}</td>
                    <td>{{ data.result }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back to Home</a>
{% endblock %}
